#root {
    /* display: flex; */
}

.list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    width: 950px;
}

.list-item {
    width: 270px;
    display: grid;
    grid-template-rows: 35px 75px 35px;
    justify-items: center;
    align-items: center;
    background: linear-gradient(#fafafa, lightblue);
    margin: 20px;
    box-shadow: 3px 3px 5px #313131;
}

.list-item__author {
    color: #313131;
    font-size: 19px;
}

.list-item__name {
    color: #313131;
    font-weight: bold;
    font-size: 19px;
}

.list-item__price {
    font-weight: bold;
    font-size: 21px;
    color: #414141;
}