body {
    background-color: snow;
}

#header,
footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    outline: none;
    button {
        width: 100px;
    }
}

footer {
    color: lavender;
    font-size: 18px;
    margin-top: 30px;
    span {
        margin: 15px;
    }
    // height: 60px;
}

.logo {
    font-weight: bold;
    color: cornflowerblue;
    font-size: 18px;
    transition: 0.7s;
    &:hover {
        text-decoration: none;
        color: lightslategray;
        img {
            animation: heart-beating .7s linear;
        }
    }
}

.filter {
    margin: 30px 20px;
}

.btn {
    width: 75%;
    margin: 3px;
}

.filter {
    display: flex;
    div {
        display: flex;
    }
}

.root {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.no-cards {
    font-size: 22px;
    font-weight: bold;
    color: cadetblue;
    margin: 50px auto;
}

.card {
    width: 400px;
    margin: 20px;
}

.card-header {
    color: #138496;
    font-size: 24px;
    line-height: 24px;
}

.close-card {
    border: none;
    font-weight: bold;
    font-size: 24px;
    color: #138496;
    float: right;
    &:hover {
        cursor: pointer;
        outline: none;
    }
}

.modal {
    display: block;
    width: 85%;
    height: fit-content;
    overflow: auto;
    margin: 10px auto;
    button {
        width: 130px;
    }
    z-index: 5;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    z-index: 2;
}

.error {
    font-size: 22px;
    font-weight: bold;
    color: firebrick;
    margin: 50px auto;
    text-align: center;
}

.no-match {
    font-size: 22px;
    font-weight: bold;
    color: forestgreen;
    margin: 50px auto;
    text-align: center;
}

@keyframes heart-beating {
    0% {
        transform: scale(.9);
    }
    45% {
        transform: scale(1);
    }
    60% {
        transform: scale(.9);
    }
    100% {
        transform: scale(1.05);
    }
}