body {
    font-family: 'Roboto', sans-serif;
    background-color: #000000;
}

.container {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.load-btn {
    display: flex;
    align-content: flex-start;
    justify-content: center;
    padding-top: 40px;
    text-transform: capitalize;
    font-size: 24px;
    width: 200px;
    height: 200px;
    border: none;
    border-radius: 50%;
    background-color: black;
    color: #fec742;
    background-image: url(../img/logo.png);
    background-size: 150px;
    background-repeat: no-repeat;
    background-position: 50% 65%;
    outline: none;
}

.load-btn:hover {
    box-shadow: 0 0 100px green;
}

.load-btn:active {
    box-shadow: 0 0 100px red;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 350px;
    color: #fec742;
    background-color: black;
    justify-content: space-between;
    perspective: 600px;
    perspective-origin: top;
    overflow: hidden;
    margin: 10px;
    margin-bottom: 70px;
    position: relative;
    padding: 10px 0;
}

.id {
    font-weight: 700;
    margin-top: 5px;
}

.id::before {
    content: "Episode ";
}

.title {
    text-transform: uppercase;
}

.opening-container {
    height: 270px;
    overflow: hidden;
}

.opening {
    width: 85%;
    text-align: center;
    margin: 0 auto;
    font-size: 14px;
    line-height: 18px;
}

.card:hover .opening-container {
    transform: rotateX(60deg);
    height: 390px;
    overflow: hidden;
    margin: 0 15px 30px;
}

.card:hover .opening {
    animation: crawling 20s infinite linear;
}

select {
    position: absolute;
    top: 330px;
    background-color: black;
    color: #fec742;
    font-size: 16px;
    font-weight: 700;
    outline: none;
    border: none;
    padding: 10px;
}

.characters-info {
    display: none;
}

.characters-info.active {
    display: block;
    position: absolute;
    width: 240px;
    top: 3%;
    left: 3%;
    font-size: 20px;
    line-height: 36px;
    background-color: #fcfcfc;
    color: #292d30;
    padding: 15px 20px 20px;
    box-shadow: 5px 5px 10px #000000;
    opacity: 0.9;
}

.overlay {
    position: fixed;
    background-color: green;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
}

@keyframes crawling {
    from {
        transform: translateY(65%);
    }
    to {
        transform: translateY(-47%);
    }
}

.lds-dual-ring {
    position: absolute;
    top: 330px;
    width: 28px;
    height: 28px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 5px solid #fec742;
    border-color: #fec742 transparent #fec742 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.mute {
    padding: 10px;
    background-color: #292d30;
    color: #fcfcfc;
    border: 1px solid #292d30;
    border-radius: 20px;
    position: absolute;
    top: 40px;
    right: 80px;
    outline: none;
}

.mute:hover {
    background-color: #000000;
}

.error {
    color: #fec742;
}