.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 9% 45px;
    box-sizing: border-box;
}

.head-section__img {
    width: 100%;
}

.section-title {
    color: $main-color;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    width: 100%;
    margin: 16px 0;
    &::before {
        content: "- ";
    }
}

.post-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

.post {
    color: $main-color;
    display: grid;
    grid-template-columns: auto 376px;
    grid-template-rows: auto auto auto;
    align-items: center;
    margin: 16px 0;
    &__img {
        grid-area: 1/1/4/2;
        margin-right: 28px;
        height: 140px;
        &:hover {
            box-shadow: 3px 3px 3px $main-color;
        }
    }
    &__title {
        text-decoration: none;
        color: $main-color;
        font-size: 16px;
        font-weight: 700;
        text-transform: capitalize;
        &:hover {
            color: $hover-color;
        }
    }
    &__tags-and-comments {
        .tags {
            color: $main-color;
            font-size: 12px;
            text-decoration: none;
            &::after {
                content: ", ";
            }
            &:nth-child(2)::after {
                content: " ";
            }
            &:hover {
                color: $hover-color;
            }
        }
        .comments {
            @extend .tags;
            &::after {
                content: "";
            }
            &::before {
                content: "/ ";
            }
            &:hover {
                color: $hover-color;
            }
        }
    }
    &__text {
        font-size: 14px;
        line-height: 26px;
        color: $main-color;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}

.instagram-section {
    background-color: rgba($color: #000000, $alpha: 0.03);
}