.footer {
    @extend .section;
    background-color: #000000;
    max-width: 100%;
    margin-bottom: 0;
    color: #B9B9B9;
    .section-title {
        color: #fefefe;
        text-align: center;
        margin-top: 60px;
        &::after {
            content: " -"
        }
    }
    .wrapper {
        width: 100%;
        max-width: 1170px;
        margin: 0 auto;
    }
    &__info {
        max-width: 680px;
        margin: 0 auto;
        text-align: center;
        line-height: 28px;
    }
    .social {
        display: flex;
        justify-content: center;
        &__item {
            width: 34px;
            height: 34px;
            background-image: url(../img/css_sprites.png);
            background-repeat: no-repeat;
            margin: 35px 5px;
            &:hover {
                transform: scale(1.1);
            }
        }
        .rss {
            background-position: -172px -10px;
        }
        .fb {
            background-position: -64px -10px;
        }
        .twitter {
            background-position: -226px -10px;
        }
        .dribble {
            background-position: -10px -10px;
        }
        .pinterest {
            background-position: -118px -10px;
        }
    }
    .contacts {
        display: flex;
        justify-content: center;
        margin-bottom: 70px;
        &__item {
            margin-right: 10px;
            &::after {
                content: " /";
                margin-left: 10px;
            }
            &:last-child:after {
                content: "";
            }
        }
        a {
            color: #B9B9B9;
            text-decoration: none;
            &:hover {
                color: $hover-color;
            }
        }
    }
}