.header {
    @extend .section;
    position: relative;
}

.head-nav {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 45px 0 0;
    max-width: 1170px;
    &__item {
        margin: 0 17px;
        color: $main-color;
        font-size: 11px;
        text-transform: uppercase;
        text-decoration: none;
        &:hover {
            color: $hover-color;
        }
    }
    &__button {
        display: none
    }
    &.active {
        position: absolute;
        top: 59px;
        right: 9%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        z-index: 10;
        .head-nav__item {
            margin: 0 0;
            width: 170px;
            background-color: #f5f5f5;
            padding-left: 12px;
            line-height: 27px;
            &:active,
            &:focus {
                background-color: #e5e5e5;
                color: $main-color;
                outline: none;
            }
        }
    }
}

.overlay {
    display: none;
    &.active {
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
}