@media (max-width: 768px) {
    .header {
        padding-bottom: 0;
    }
    .head-nav {
        display: none;
        &__button {
            align-self: flex-end;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 44px;
            height: 37px;
            background-color: #000000;
            color: #ffffff;
            font-size: 20px;
            margin: 23px 0;
            cursor: pointer;
            &:hover {
                background-color: $main-color;
            }
        }
    }
    .post {
        grid-template-columns: auto 1fr;
        grid-template-rows: auto auto 1fr;
        &__text {
            line-height: 3.4vw;
        }
    }
    .footer__info {
        font-size: 12px;
        line-height: 20px;
    }
    .contacts {
        font-size: 14px;
        line-height: 24px;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 455px) {
    .section-title {
        font-size: 14px;
    }
    .post {
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr 1fr;
        justify-items: space-between;
        &__title {
            font-size: 14px;
            margin: 20px 0 10px;
        }
        &__tags {
            font-size: 11px;
        }
        &__text {
            display: none;
        }
    }
}