@import "_reset.scss";
@import "_variables.scss";
@import "_header.scss";
@import "_content.scss";
@import "_footer.scss";
@import "_media.scss";
body {
    font-family: 'Roboto', sans-serif;
    min-width: 320px;
    position: relative;
}