.get-position {
    border-radius: 15px;
    padding: 5px;
    color: white;
    background-color: darkgray;
    font-weight: bold;
    outline: none;
    align-self: center;
    margin: 30px;
}

.get-position:hover {
    background-color: lightgray;
}

.container {
    max-width: 300px;
    min-width: fit-content;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.line {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.line:nth-child(2n) {
    background-color: lightgray;
}

.header {
    color: #0f0f0f;
    text-transform: capitalize;
    width: 50%;
}

.header::after {
    content: "-";
    margin-right: 20px;
    float: right;
}

.name {
    width: 50%;
    font-weight: bold;
}

.lds-dual-ring {
    align-self: center;
    width: 55px;
    height: 55px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 10px solid darkgray;
    border-color: darkgray transparent darkgray transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}